body {
	background:url(./img/bg_header.gif) repeat-x #ffde49;
}

#main {
	display: -webkit-box;
	display: -moz-box;
}

.left {
	width: 300px;
}

.right {
	width: 600px;
}

.status_rarerity_ur {
	background: url(./img/card/common/bg_card_ur.png) no-repeat left top;
}

.status_rarerity_sr {
	background: url(./img/card/common/bg_card_sr.png) no-repeat left top;
}
.status_rarerity_r {
	background: url(./img/card/common/bg_card_r.png) no-repeat left top;
}
.status_rarerity_uc {
	background: url(./img/card/common/bg_card_uc.png) no-repeat left top;
}
.status_rarerity_c {
	background: url(./img/card/common/bg_card_c.png) no-repeat left top;
}

.card {
	display: block;
	position: absolute;
	width: 224px;
	height: 315px;
}

.status {
	display: block;
	position: absolute;
	background: url(./img/card/common/bg_status_c.png) no-repeat left top;
	width: 224px;
	height: 315px;
}

.status_hp {
	display: block;
	position: absolute;
	top: 57px;
	right: 6px;
	width: 54px;
	font-size: 10px;
	text-align: right;
	font-weight: bold;
	font-family: Verdana,arial,sans-serif;

}
.status_att {
	display: block;
	position: absolute;
	top: 87px;
	right: 6px;
	width: 54px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	font-family: Verdana,arial,sans-serif;

}
.status_int {
	display: block;
	position: absolute;
	top: 114px;
	right: 6px;
	width: 54px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	font-family: Verdana,arial,sans-serif;

}
.status_wdef {
	display: block;
	position: absolute;
	top: 140px;
	right: 6px;
	width: 54px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	font-family: Verdana,arial,sans-serif;

}
.status_sdef {
	display: block;
	position: absolute;
	top: 167px;
	right: 6px;
	width: 54px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	font-family: Verdana,arial,sans-serif;

}
.status_bdef {
	display: block;
	position: absolute;
	top: 194px;
	right: 6px;
	width: 54px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	font-family: Verdana,arial,sans-serif;

}
.status_rdef {
	display: block;
	position: absolute;
	top: 220px;
	right: 6px;
	width: 54px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	font-family: Verdana,arial,sans-serif;

}
.status_speed {
	display: block;
	position: absolute;
	top: 246px;
	right: 6px;
	width: 54px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	font-family: Verdana,arial,sans-serif;

}

.rarerity_ur {
	color: #00c5ff;
}
.rarerity_sr {
	color: #00c5ff;
}
.rarerity_r {
	color: #00c5ff;
}
.rarerity_uc {
	color: #00c5ff;
}
.rarerity_c {
	color: #00c5ff;
}

.rarerity_ur, .rarerity_sr, .rarerity_r, .rarerity_uc, .rarerity_c {
	display: block;
	position: absolute;
	left: 11px;
	top: 14px;
	width: 27px;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
}

.cost {
	display: blocl;
	position: absolute;
	top: 18px;
	left: 40px;
	width: 30px;
	color: white;
	font-size: 14px;
}

.name {
	display: block;
	position: absolute;
	top: 14px;
	left: 85px;
	width: 65px;
	text-align: center;
	font-size: 18px;
	color: white;
}

.level_r {
	display: block;
	position: absolute;
	top: 16px;
	left: 145px;
	width: 24px;
	padding: 0 0 0 12px;
	font-size: 15px;
	color: white;
	background: url(./img/card/common/bg_level_r.gif) no-repeat left 8px;
}

div.status {
	font-family: "Trebuchet MS",Trebuchet,Verdana,Helvetica,Arial,sans-serif;
}
